/** @format */

.nav-bar {
  position: fixed;
  padding: 2px 8px;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  background-color: var(--white-2nd);
  width: 100vw;
  height: 2.9rem;
}
.nav-btn {
  height: 18px;
}
.nav-tabs {
  /* background-color: var(--white-2nd); */
  border-radius: 9px;
  padding: 1px;
  width: 2.8rem;
  height: 220px;
  visibility: hidden;
  position: absolute;
  z-index: -10;
  left: 0px;
  top: -10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.91rem;
  opacity: 0;
  transition: all 1.2s ease-out;
}
.drop-down {
  visibility: visible;
  transform: translateY(95%);
  opacity: 1;
}

.menu-ico {
  background-color: var(--white-3rd);
  padding: 6px;
  border-radius: 100%;
}

#mode {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  list-style-type: none;
  transition: all 1s;
}
.ri-sun-fill {
  visibility: hidden;
  position: relative;
  top: -32px;
  border-radius: 100%;
  font-size: 32px;
  transition: all 1s;
  opacity: 0;
}
.ri-sun-fill:hover {
  background-color: var(--primary-color);
}
.changed {
  visibility: hidden;
  opacity: 0;
}
.changel {
  opacity: 1;
  visibility: visible;
}
.side-nav-tabs {
  display: none;
}
/* side bar for phone */
.toggle-btn,
aside {
  display: none;
}
/* ? main content */
main {
  /* padding-top: 0.2rem; */
  position: relative;
  background-color: var(--white-1st);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding-top: 55px;
}
.main-name {
  padding-left: 8px;
  margin: 0;
}

#name-job,
#name-my {
  display: block;
  margin: 0;
}
.main-photo {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100vw;
  height: 40vh;
  background-image: url(icon/shapes.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.photo-in {
  width: 65%;
  height: 40vh;
}
.my-opening {
  padding: 15px;
}
#call-to-action {
  position: relative;
  left: 2rem;
  margin-top: 10px;
}
#my-Services {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#srv-name {
  align-self: center;
}
/* neon card part */
#Services {
  max-width: 52vw;
  height: 35vh;
  display: flex;
  border: #5a5c5d solid;
  border-radius: 9px;
  padding: 0 2vw;
  overflow: scroll;
  opacity: 0.3;
  transition: all 1s;
  scroll-snap-type: both mandatory;
}
#Services > li {
  scroll-snap-align: center;
}
#Services:hover {
  opacity: 1;
}
.card-img {
  width: 100px;
  height: 75px;
}
.card {
  padding: 1rem;
  position: relative;
  margin: 10px 25px;
  background-color: transparent;
  height: 12rem;
  width: 12rem;
  border: 1px solid;
  background-color: var(--white-3rd);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.title-name {
  text-align: center;
}
.card1:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 25px 9px #ffff01, 0 0 4px 2px orange;
  z-index: -1;
  animation-name: yellow-shadow;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}
.card1:hover::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 20px 9px orange, 0 0 4px 2px rgb(255, 85, 6);
  z-index: -1;
  animation-name: cyan-shadow;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}
.card2:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 17px 3px rgb(88, 221, 90), 0 0 4px 2px rgb(243, 189, 11);
  z-index: -1;
  animation-name: gradient-shadow;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

.card3:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  z-index: -1;
  animation-name: half-yellow-shadow;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

.card3:hover::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  z-index: -1;
  animation-name: half-cyan-shadow;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

@media screen and (min-width: 792px) {
  .toggle-btn,
  aside {
    display: inherit;
  }
  .nav-bar {
    position: fixed;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    width: 2rem;
    height: 100vh;
    right: 0;
  }
  #mode {
    position: absolute;
    top: 0;
    padding: 5px;
    left: 0;
    margin-left: 0;
  }
  #top-nav-menu {
    display: none;
  }
  .side-nav-tabs {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1.5rem;
  }
  /* side bar part */

  .toggle-btn {
    height: 1.5rem;
    width: 1.5rem;
    position: fixed;
    z-index: 3;
    left: 1.4%;
    top: 0.5rem;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
  }
  .toggle-btn:hover {
    transform: translateX(-50%) scale(1.04);
  }

  .toggle-btn:active {
    transform: translateX(-50%) scale(0.96);
  }
  aside {
    background-color: var(--white-2nd);
    position: absolute;
    height: 100vh;
    width: 20vw;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: scroll;
  }
  /* ? side bar content */
  #nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    gap: clamp(0.5rem, 1vw, 2rem);
    transform: translateX(-50%) scale(0.9);
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
  }

  body[data-aside="true"] > aside > #nav-links {
    transform: translateX(0%) scale(1);
  }
  body[data-aside="true"] > main {
    transform: translateX(20%);
    width: 77.5vw;
    overflow-x: hidden;
    left: 3.9rem;
  }
  body[data-aside="true"] > .toggle-btn {
    transform: translateX(1160%);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
  }
  #profile {
    width: 95%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  #photo {
    border: 0.91px solid;
    border-radius: 100%;
    width: 70%;
    height: 13vw;
    background-color: var(--white-3rd);
  }
  #name {
    /* !font change  */
    margin: 0;
  }
  #social-media {
    display: flex;
    gap: 1rem;
    /* !link don't take anywhere */
  }
  .social-btn {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
  }
  .line {
    width: 100%;
  }
  .info-header {
    position: relative;
    left: 5px;
    align-self: flex-start;
    top: 15px;
  }
  .info {
    width: 90%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: clamp(0.5rem, 1vw, 2rem);
  }
  .separation {
    display: flex;
    justify-content: space-between;
  }
  .info-ico {
    border-radius: 10%;
    padding: 5px;
    line-height: 22px;
    background-color: var(--primary-color);
  }
  #hire-me {
    position: relative;
    left: 30%;
    bottom: -0.5%;
  }
  /* ? main content in desktop */
  main {
    position: relative;
    background-color: var(--white-1st);
    width: 97vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
  }
  .whole-certefcate {
    margin: 4rem;
  }
  .glassy {
    background-color: var(--white-2nd);
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: -1;
    filter: blur(100px);
  }
  .content-container {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .main-title {
    text-align: center;
  }
  .space {
    margin: 3rem 0 0 0;
  }
  .pag-content {
    background-color: transparent;
    background-color: var(--white-3rd);
    border-radius: 9px;
    align-self: center;
    justify-self: center;
    padding: 8px;
    max-width: 50vw;
  }
  .certificate {
    padding: 8px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 65vw;
  }
  .sec1 {
    padding: 8px;
  }
  .s1-title {
    align-items: center;
  }
  .s1-content {
    margin: 2rem 0;
    padding: 2px;
  }
  .date-info {
    color: white;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--primary-color);
  }
  .sec2 {
    padding: 8px;
    max-width: 40vw;
  }
  .line {
    width: 100%;
    height: 2px;
  }
  .recomendation-card {
    display: flex;
    gap: 2rem;
    max-width: 30vw;
    height: 35vh;
    display: flex;
    border-radius: 9px;
    padding: 0 2vw;
    overflow-x: scroll;
    /* opacity: 0.3; */
    transition: all 1s;
    scroll-snap-type: x mandatory;
  }

  .card-profile {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .card-photo {
    height: 2rem;
    width: 2rem;
    background-color: var(--white-1st);
    border-radius: 100%;
  }
  .card-container {
    padding: 1rem;
    position: relative;
    margin: 10px 25px;
    background-color: transparent;
    height: 12rem;
    width: 12rem;
    background-color: var(--white-3rd);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 0 clac(100%/3);
    scroll-snap-align: start;
  }
  .card-content {
    min-width: 10vw;
  }
  #diagonal {
    position: absolute;
    height: 500vh;
    width: 30vw;
    z-index: -10;
    background-color: rgb(255, 231, 133);
    transform: rotate(80deg);
    left: 10rem;
    top: -70rem;
  }
}
.nav-btn1 {
  height: 29px;
}
@media screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1920px;
  }
}
